<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu file hoặc thư mục tồn tại thực sự (ảnh, css) thì không viết lại
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Chuyển tất cả các yêu cầu khác về index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
    
</IfModule>